// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.gmnoprint,
.gm-svpc,
.gm-control-active,
.gm-fullscreen-control {
    display: none;
}

@media screen and (min-width: 768px){

    body{
        background: url('assets/background.png') no-repeat !important;
    }

    .ion-page{
       width: 90%;
       margin: auto;
    }

    .centrar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
