<ion-content padding text-center class="isesion">

    <h4>Registrate</h4>
    <h1>Uicar</h1>
    <ion-list>

        <ion-item>
            <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>

        </ion-item>
        <br>
        <ion-item>
            <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
            <ion-icon name="eye" item-right></ion-icon>
        </ion-item>
        <br>

        <ion-item>

            <ion-input placeholder="Confirma contraseña" type="password" [(ngModel)]="cpassword"></ion-input>
            <ion-icon name="eye" item-right></ion-icon>
        </ion-item>

    </ion-list>
    <br>
    <br>
    <ion-button fill="solid" expand="block" color="primary" (click)="register()">Entrar</ion-button>
    <br>
    <p class="register-text" (click)="goLogin()"> ¿ Tienes cuenta ?<a> Inicia</a> </p>
</ion-content>